<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!-- Поставщик -->
    <add key="provider" value="System.Data.SqlClient"/>
    <!-- Строка подключения -->
    <add key="conStr" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Z:\Coding_Pavlov\educational_practice\Second\Solution\second_lab_1st_try\second_lab_1st_try\Database1.mdf;Integrated Security=True"/>
  </appSettings>
</configuration>
